@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #171717 !important;
}

#navbar {
  height: 80px;
  padding: 0;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
}
#navbar .row {
  display: flex;
  justify-content: center;
  padding: 8px;
}
#navbar .row .nav-desktop {
  width: 700px;
  height: 80px;
  border-radius: 5px;
  background: rgba(171, 171, 171, 0.1);
  flex-direction: column;
  justify-content: center;
}
#navbar .row .nav-desktop ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}
#navbar .row .nav-desktop ul li {
  list-style-type: none;
}
#navbar .row .nav-desktop ul li a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s;
  font-size: 16px;
}
#navbar .row .nav-desktop ul li a:hover {
  color: #2f2f2f;
}
#navbar .row .nav-desktop ul li a.active {
  color: grey;
  opacity: 0.8;
}
#navbar .row .nav-mobile {
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
#navbar .row .nav-mobile .logo {
  width: 120px;
}
#navbar .row .nav-mobile .hamburger {
  cursor: pointer;
  height: 25px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}
#navbar .row .nav-mobile .hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
  border-radius: 36px;
  transition: 0.7s;
}
#navbar .row .nav-mobile .hamburger span.line1 {
  transform-origin: 0 0;
}
#navbar .row .nav-mobile .hamburger span.line3 {
  transform-origin: 0 100%;
}
#navbar .row .nav-mobile .hamburger span.show1 {
  transition: all 0.7s;
  transform: rotate(45deg);
  background-color: white;
}
#navbar .row .nav-mobile .hamburger span.show3 {
  transition: all 0.7s;
  transform: rotate(-45deg) translate(0, 0);
  background-color: white;
}
#navbar .row .nav-mobile .hamburger span.show2 {
  opacity: 0;
  transition: all 0.7s;
}
#navbar .row .nav-mobile .sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translate(0, 30);
}
#navbar .row .nav-mobile .sidebar.active {
  width: 50%;
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
}
#navbar .row .nav-mobile .sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  background: #ababab;
  height: 100vh;
  margin: 0;
  list-style: none;
}
#navbar .row .nav-mobile .sidebar ul li a {
  text-decoration: none;
  color: whitesmoke;
}
#navbar .row .nav-mobile .sidebar ul li .link.active {
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 991.98px) {
  #navbar .nav-desktop {
    display: none;
  }
  #navbar .nav-mobile {
    display: flex;
  }
}
@media (min-width: 992px) {
  #navbar .nav-mobile {
    display: none;
  }
  #navbar .nav-desktop {
    display: flex;
  }
}

#hero-home #carousel {
  z-index: 1;
}
#hero-home #carousel .carousel-indicators button {
  display: block;
  width: 30px;
  height: 4px;
  border: 1px;
  border-radius: 25px;
  background-color: whitesmoke;
  cursor: pointer;
}
#hero-home #carousel .carousel-inner .carousel-img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
#hero-home .mobile-banner {
  display: none;
  background-image: url("../assets/img/BG1.jpg");
  background-size: cover;
  height: 100vh;
  background-position-x: 82%;
}
#hero-home .container-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#hero-home .container-buttons .buttons {
  display: flex;
  justify-content: space-around;
  width: 360px;
  z-index: 2;
  position: absolute;
  bottom: 40px;
}
#hero-home .container-buttons .buttons .btn-explore {
  width: 160px;
  border: 1px solid white;
  background-color: #2f2f2f;
  cursor: pointer;
  transition: 0.3s;
}
#hero-home .container-buttons .buttons .btn-explore span {
  color: white;
}
#hero-home .container-buttons .buttons .btn-explore:hover {
  background-color: whitesmoke;
}
#hero-home .container-buttons .buttons .btn-explore:hover span {
  color: #2f2f2f;
}
#hero-home .container-buttons .buttons .btn-contact {
  width: 160px;
  border: 1px solid white;
  background-color: #2f2f2f;
  cursor: pointer;
  transition: 0.3s;
}
#hero-home .container-buttons .buttons .btn-contact span {
  color: white;
}
#hero-home .container-buttons .buttons .btn-contact:hover {
  background-color: whitesmoke;
}
#hero-home .container-buttons .buttons .btn-contact:hover span {
  color: #2f2f2f;
}
@media (max-width: 992px) {
  #hero-home .mobile-banner {
    display: block;
  }
  #hero-home #carousel {
    display: none;
  }
  #hero-home .buttons .btn-contact {
    margin-left: 10px;
    width: 140px;
  }
  #hero-home .buttons .btn-explore {
    width: 140px;
    margin-right: 10px;
  }
}

#hero-portfolio .hero .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#hero-portfolio .hero .row img {
  margin-top: 150px;
  height: 68vh;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
@media (max-width: 576px) {
  #hero-portfolio .hero .row img {
    -o-object-position: 40% 100%;
       object-position: 40% 100%;
  }
}

#category-portfolio .row h1 {
  font-family: "Noto Sans JP", sans-serif;
  color: whitesmoke;
  font-weight: 100;
  font-size: 36px;
  letter-spacing: 20px;
  margin-top: 40px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}
#category-portfolio .row .categories {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
#category-portfolio .row .categories .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 430px;
  margin-left: 10px;
  margin-right: 10px;
}
#category-portfolio .row .categories .category img {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
#category-portfolio .row .categories .category .btn-category {
  background-color: #2f2f2f;
  color: white;
  width: 270px;
  height: 52px;
  border: 1px solid white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 5px;
  transition: 0.5s;
}
#category-portfolio .row .categories .category .btn-category:hover {
  background-color: white;
  color: #2f2f2f;
  border: 1px solid black;
}
#category-portfolio .row hr {
  margin-top: 60px;
  margin-bottom: 30px;
  height: 1px;
  background-color: #454545;
  opacity: 1;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #category-portfolio .row .categories {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #category-portfolio .row .categories .category {
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  #category-portfolio .row h1 {
    letter-spacing: 15px;
    text-align: center;
    font-size: 28px;
  }
  #category-portfolio .row .categories {
    flex-wrap: wrap;
    justify-content: center;
  }
  #category-portfolio .row .categories .category {
    margin-bottom: 40px;
  }
}

#client-list {
  margin-top: 180px;
}
#client-list .container a {
  text-decoration: none;
}
#client-list .container .button-back {
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  transition: transform 0.3s ease;
}
#client-list .container .button-back h5 {
  color: whitesmoke;
  font-weight: 100;
  font-size: 14px;
  color: whitesmoke;
}
#client-list .container .button-back .arrow {
  fill: whitesmoke;
}
#client-list .container .button-back:hover {
  transform: translateX(-4px);
}
#client-list .container .client-type {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: whitesmoke;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#client-list .container .client-type::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 2px;
}
#client-list .container .clients {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#client-list .container .clients .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
#client-list .container .clients .client img {
  width: 400px;
}
#client-list .container .clients .client h3 {
  margin-top: 10px;
  text-align: center;
  transition: 0.5s;
  font-weight: 100;
  color: whitesmoke;
  cursor: pointer;
}
#client-list .container .clients .client h3:hover {
  color: #ababab;
}
@media (max-width: 992px) {
  #client-list .container .clients {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  #client-list {
    margin-top: 100px;
  }
  #client-list .container {
    padding: 30px;
  }
}

#client-detail {
  margin-top: 180px;
}
#client-detail #modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Modal Content (image) */
}
#client-detail #modal #close-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
#client-detail #modal .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
#client-detail #modal .modal-content .img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
#client-detail .container a {
  text-decoration: none;
}
#client-detail .container .button-back {
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  transition: transform 0.3s ease;
}
#client-detail .container .button-back h5 {
  color: whitesmoke;
  font-weight: 100;
  font-size: 14px;
  color: whitesmoke;
}
#client-detail .container .button-back .arrow {
  fill: whitesmoke;
}
#client-detail .container .button-back:hover {
  transform: translateX(-4px);
}
#client-detail .container .client-name {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: whitesmoke;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#client-detail .container .client-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 2px;
}
#client-detail .container .client-photos {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#client-detail .container .client-photos .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
#client-detail .container .client-photos .photo img {
  width: 400px;
}
#client-detail .container .client-photos .photo h3 {
  margin-top: 10px;
  text-align: center;
  transition: 0.5s;
  font-weight: 100;
  color: whitesmoke;
  cursor: pointer;
}
#client-detail .container .client-photos .photo h3:hover {
  color: #ababab;
}
@media (max-width: 992px) {
  #client-detail {
    margin-top: 100px;
  }
  #client-detail .container {
    padding: 30px;
  }
  #client-detail .container .client-photos {
    justify-content: center;
  }
}

#hero-about .hero .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#hero-about .hero .row img {
  margin-top: 150px;
  height: 68vh;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
@media (min-width: 992px) {
  #hero-about .hero .row img {
    -o-object-position: 100% 70%;
       object-position: 100% 70%;
  }
}

#content-about {
  margin: 40px;
}
#content-about .container {
  margin-top: 40px;
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 30px;
}
#content-about .container h1 {
  font-family: "Noto Sans JP", sans-serif;
  color: whitesmoke;
  font-weight: 100;
  font-size: 36px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: -6px;
}
#content-about .container .row {
  margin-top: 30px;
}
#content-about .container .row .content.desc {
  border-radius: 10px;
  padding: 40px;
}
#content-about .container .row .content.desc p {
  margin: auto;
  font-family: "Rokkitt", serif;
  color: white;
}
#content-about .container .row .content.image {
  width: 400px;
}
@media (max-width: 992px) {
  #content-about .container h1 {
    letter-spacing: 10px;
    text-align: center;
    font-size: 28px;
  }
  #content-about .container .categories {
    flex-wrap: wrap;
    justify-content: center;
  }
  #content-about .container .categories .category {
    margin-bottom: 40px;
  }
}

#hero-contact .hero .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#hero-contact .hero .row img {
  margin-top: 150px;
  height: 68vh;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
@media (min-width: 992px) {
  #hero-contact .hero .row img {
    -o-object-position: 100% 70%;
       object-position: 100% 70%;
  }
}

#content-contact {
  margin: 40px;
}
#content-contact .container {
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 30px;
}
#content-contact .container h1 {
  font-family: "Noto Sans JP", sans-serif;
  color: whitesmoke;
  font-weight: 100;
  font-size: 36px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: -6px;
}
#content-contact .container .contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#content-contact .container .contacts .contact {
  width: 186px;
  height: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
#content-contact .container .contacts .contact img {
  width: 60px;
}
#content-contact .container .contacts .contact h4 {
  color: white;
  font-size: 1em;
  transition: 0.5s;
}
#content-contact .container .contacts .contact.link:hover h4 {
  color: black;
}
@media (max-width: 992px) {
  #content-contact .container h1 {
    letter-spacing: 10px;
    text-align: center;
    font-size: 28px;
  }
  #content-contact .container .categories {
    flex-wrap: wrap;
    justify-content: center;
  }
  #content-contact .container .categories .category {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=main.css.map */