@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #171717;
}

#navbar {
  height: 80px;
  padding: 0;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
}
#navbar .row {
  display: flex;
  justify-content: center;
  padding: 8px;
}
#navbar .row .nav-desktop {
  width: 700px;
  height: 80px;
  border-radius: 5px;
  background: rgba(171, 171, 171, 0.1);
  flex-direction: column;
  justify-content: center;
}
#navbar .row .nav-desktop ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}
#navbar .row .nav-desktop ul li {
  list-style-type: none;
}
#navbar .row .nav-desktop ul li a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s;
}
#navbar .row .nav-desktop ul li a:hover {
  color: #2f2f2f;
}
#navbar .row .nav-desktop ul li a.active {
  color: grey;
  opacity: 0.8;
}
#navbar .row .nav-mobile {
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
#navbar .row .nav-mobile .logo {
  width: 120px;
}
#navbar .row .nav-mobile .hamburger {
  cursor: pointer;
  height: 25px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}
#navbar .row .nav-mobile .hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
  border-radius: 36px;
  transition: 0.7s;
}
#navbar .row .nav-mobile .hamburger span.line1 {
  transform-origin: 0 0;
}
#navbar .row .nav-mobile .hamburger span.line3 {
  transform-origin: 0 100%;
}
#navbar .row .nav-mobile .hamburger span.show1 {
  transition: all 0.7s;
  transform: rotate(45deg);
  background-color: white;
}
#navbar .row .nav-mobile .hamburger span.show3 {
  transition: all 0.7s;
  transform: rotate(-45deg) translate(0, 0);
  background-color: white;
}
#navbar .row .nav-mobile .hamburger span.show2 {
  opacity: 0;
  transition: all 0.7s;
}
#navbar .row .nav-mobile .sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translate(0, 30);
}
#navbar .row .nav-mobile .sidebar.active {
  width: 50%;
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
}
#navbar .row .nav-mobile .sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  background: #ababab;
  height: 100vh;
  margin: 0;
  list-style: none;
}
#navbar .row .nav-mobile .sidebar ul li a {
  text-decoration: none;
  color: whitesmoke;
}
#navbar .row .nav-mobile .sidebar ul li .link.active {
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 991.98px) {
  #navbar .nav-desktop {
    display: none;
  }
  #navbar .nav-mobile {
    display: flex;
  }
}
@media (min-width: 992px) {
  #navbar .nav-mobile {
    display: none;
  }
  #navbar .nav-desktop {
    display: flex;
  }
}

#slideshow #carousel {
  z-index: 1;
}
#slideshow #carousel .carousel-indicators button {
  display: block;
  width: 30px;
  height: 4px;
  border: 1px;
  border-radius: 25px;
  background-color: whitesmoke;
  cursor: pointer;
}
#slideshow #carousel .carousel-inner .carousel-img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
#slideshow .mobile-banner {
  display: none;
  background-image: url("../assets/img/BG1.jpg");
  background-size: cover;
  height: 100vh;
  background-position-x: 82%;
}
#slideshow .container-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#slideshow .container-buttons .buttons {
  display: flex;
  justify-content: space-around;
  width: 360px;
  z-index: 2;
  position: absolute;
  bottom: 40px;
}
#slideshow .container-buttons .buttons .btn-explore {
  width: 160px;
  border: 1px solid white;
  background-color: #2f2f2f;
  cursor: pointer;
  transition: 0.3s;
}
#slideshow .container-buttons .buttons .btn-explore span {
  color: white;
}
#slideshow .container-buttons .buttons .btn-explore:hover {
  background-color: whitesmoke;
}
#slideshow .container-buttons .buttons .btn-explore:hover span {
  color: #2f2f2f;
}
#slideshow .container-buttons .buttons .btn-contact {
  width: 160px;
  border: 1px solid white;
  background-color: #2f2f2f;
  cursor: pointer;
  transition: 0.3s;
}
#slideshow .container-buttons .buttons .btn-contact span {
  color: white;
}
#slideshow .container-buttons .buttons .btn-contact:hover {
  background-color: whitesmoke;
}
#slideshow .container-buttons .buttons .btn-contact:hover span {
  color: #2f2f2f;
}
@media (max-width: 992px) {
  #slideshow .mobile-banner {
    display: block;
  }
  #slideshow #carousel {
    display: none;
  }
  #slideshow .buttons .btn-contact {
    margin-left: 10px;
    width: 140px;
  }
  #slideshow .buttons .btn-explore {
    width: 140px;
    margin-right: 10px;
  }
}/*# sourceMappingURL=main.css.map */